In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/namsan_reviews.csv')

In [5]:
df.columns

Index(['place_id', 'place_name', 'review_id', 'rating', 'review_text',
       'published_at', 'published_at_date', 'response_from_owner_text',
       'response_from_owner_ago', 'response_from_owner_date',
       'review_likes_count', 'total_number_of_reviews_by_reviewer',
       'total_number_of_photos_by_reviewer', 'is_local_guide',
       'review_translated_text', 'response_from_owner_translated_text'],
      dtype='object')

In [8]:
df = df[['published_at', 'review_text']]

In [9]:
df

    published_at                                        review_text
0           1일 전  아름다운 하이킹과 자연 지역. 포장된 길은 물론 자연 산책로도 많습니다. 우리가 택...
1           1주 전                                                NaN
2           2주 전  나무도 많고 앉아서  자연을 즐길 곳도 있어 자주 가는 곳입니다. 매번 느끼지만 참...
3           2주 전                                                NaN
4           1달 전                                                NaN
..           ...                                                ...
835         6년 전  겨울에는가지마세요 어떠한 볼거리도없고 사람도없고 연못이나 길가에는 얼음뿐입니다 식물...
836         6년 전                                                NaN
837         6년 전                                                NaN
838         6년 전                                단풍들어 너무 이쁜데 주차가 어려움
839         6년 전                             야간 산책로,   남산타워 최고의 전망대

[840 rows x 2 columns]

In [15]:
df.dropna(inplace=True)

/var/folders/qr/d0tz05096cq7wtbf54br3qsw0000gn/T/ipykernel_21236/1379821321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [16]:
df

    published_at                                        review_text
0           1일 전  아름다운 하이킹과 자연 지역. 포장된 길은 물론 자연 산책로도 많습니다. 우리가 택...
2           2주 전  나무도 많고 앉아서  자연을 즐길 곳도 있어 자주 가는 곳입니다. 매번 느끼지만 참...
13          1달 전  산책하기 좋은 장소입니다. 작은 개천이 있어 물 소리를 들으며 힐링할 수 있습니다....
15          2달 전                                             지금은 사망
17          4달 전  늦은 밤, 와이프와 함께 드라이브겸 산책을 위해 다녀온곳. 자주는 못오더라도 가끔 ...
..           ...                                                ...
833         6년 전                                  따뜻할 때 시간 보내기 좋아요.
834         6년 전                                                좋아요
835         6년 전  겨울에는가지마세요 어떠한 볼거리도없고 사람도없고 연못이나 길가에는 얼음뿐입니다 식물...
838         6년 전                                단풍들어 너무 이쁜데 주차가 어려움
839         6년 전                             야간 산책로,   남산타워 최고의 전망대

[395 rows x 2 columns]

In [17]:
df.to_csv('./data/namsan_reviews_cleaned.csv', index=False)